.Table
  max-width: 32em
  border: 1px solid #000
  margin-left: 65px
  border-left-radius: 10px outset

.Table-Head
  background: red

.Table-Celdas
  text-align: center
  padding: 10px 50px
  border: 1px solid #000

.btn-primary
  background red

.btn-primary:hover
  background #222222
  color #fff

.Table-ngCeldas
  background: #222222
  color: #fff
  text-align: center
  padding: 10px 50px
  border: 1px solid #000
