body
  background: lightgray

.Form
  margin-left: 2%
  overflow: hidden

.Label-Description
  width: 100%

.title
  margin-left: 2%

.Document-Type
  width: 175px
  padding: 3.5px

.Button-Submit
  background: orange
  font-size: 18px
  margin-top: 10px
  margin-left: 25px
  display: block
  padding: 5px 20px
  border-radius: 5px
  border-style: none

.Sexo
  width: 175px
  padding: 3.5px
